<div class="container-fluid gedf-wrapper">
  <div class="row mt-3">
    <div class="col-md-3">
      <div class="input-group form-group">
        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" id="button-addon2">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <div class="card text-center my-3">
        <div class="card-body my-3">
          <div><%= avatar(current_user, "feed-avatar")%></div>
          <div class="h5 mb-0"><%=current_user.name%></div>
        </div>
        <ul class="list-group list-group-flush px-1 pb-1">
          <li class="list-group-item">
            <div class="h6 text-muted">フォロワー</div>
            <div class="h5">5.2342</div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">フォロー</div>
            <div class="h5">6758</div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">お気に入り数</div>
            <div class="h5">6758</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 gedf-main">
      <% @feeds.each do |feed| %>
        <div class="card gedf-card">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-start align-items-center">
                <%= avatar(feed.user, "rounded-circle")%>
                <div class="ml-2">
                  <p class="h6 mb-0 ml-0"><%=feed.user.name %></p>
                  <i class="far fa-clock text-muted h7 mt-0 ml-0" aria-hidden="true"> <%= distance_of_time_in_words(feed.created_at, Time.now)%>前</i>
                </div>
              </div>
              <% if current_user == feed.user %>
                <div class="dropdown">
                  <button class="btn btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-h"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <%= link_to '編集', edit_feed_path(feed), class: "dropdown-item" %>
                    <%= link_to '削除', feed_path(feed), method: :delete, data: {confirm: "投稿を削除しますか？"}, class: "dropdown-item" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="card-body">
            <div>
              <%= image_tag feed.image.url, class:"card-image"%>
            </div>
          </div>
          <% if feed.content.present? %>
            <div class="card-body">
              <div class="card-text ml-2 py-1">
                <%= feed.content %>
              </div>
            </div>
          <% end %>
          <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center my-2">
              <div class="d-flex align-items-center my-2">
                <div class="comment-wrap">
                  <i class="far fa-comments h5 mb-0"></i>
                  <span class="h6"><%#= feed.comments.count%>件</span>
                </div>
                <% unless feed.user_id == current_user.id %>
                  <div id="likes_button_<%=feed.id%>" class="ml-3">
                    <%= render 'favorites/favorites_icon', feed: feed %>
                  </div>
                <% end %>
              </div>
              <div>
                <%= link_to '詳細', feed_path(feed), class: "card-link" %>
              </div>
            </div>
          </div>
        </div>
      <div class="mb-3"></div>
      <%end%>
    </div>
    <div class="col-md-3">
      <div class="card gedf-card mb-3">
        <div class="card-body text-center">
          <h5 class="card-title my-2">友達一覧</h5>
          <div class="d-flex justify-content-between align-items-center my-2 mx-3">
            <h6 class="card-subtitle text-muted">Kimmy</h6>
            <a href="#" class="card-link">Chat Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>












