<div class="d-flex w-100 h-100 p-3 flex-column">
  <main class="cover-container text-center">
    <div class="container">
      <div class="logo">
        <p><%= image_tag "coverlogo.png", class:"brand-image"%></p>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name, class: "sr-only"%>
          <%= f.text_field :name, autofocus: true, class: "form-control signin-box", placeholder: "名前" %>
        </div>

        <div class="field">
          <%= f.label :email, class: "sr-only" %>
          <%= f.email_field :email, autocomplete: "email", class: "form-control signin-box", placeholder: "メールアドレス"%>
        </div>

        <div class="field">
          <%= f.label :password, class: "sr-only" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control signin-box", placeholder: "パスワード" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "sr-only" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control signin-box", placeholder: "パスワード再入力" %>
        </div>
        <% if @minimum_password_length %>
          <div class="text-center">
            <small class="text-light fas fa-exclamation-circle mb-3"> パスワードの長さは最低 <%= @minimum_password_length %>文字です。</small>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "登録", class: "mt-4 mb-3 text-muted btn btn-light btn-block" %>
        </div>
      <%end%>

      <hr>

      <div>
        <p class="h7 sign-in-link text-light">アカウントをお持ちですか？ </p>
        <%= link_to "ログイン", new_session_path(resource_name), class: "mt-2 mb-2 text-muted btn btn-light btn-block" %>
      </div>
    </div>
  </main>
</div>